.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: white;
  width: 600px;
  height: 70px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 5px;
  color: #333333;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.02);
}

.cardImage {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.cardInfo, h4, p {
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  left: 0;
  margin:-2px;
  text-align: left;
}

.cardTitles {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:1px;
}

.cryptoName {
  width: 100%;
}
.symbol {
  font-weight: 700;
  font-size: small;
  color: grey
}

.description {
  font-size: 10px;
  color: #bbbbbb;
  width: 100%;
}
.mainValue {
  font-weight: 18px;
  font-weight: bold;
  color: #797979;
  width: 100%;
}

.currentPriceData, .marketCapData {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.percentageGreen {
  font-weight: 500;
  font-size: small;
  color: #4caf50;
  width: 100%;
}

.percentageRed {
  font-weight: 500;
  font-size: small;
  color: #f44336;
  width: 100%;
}