.detailContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border: 2px dotted #999;
  border-radius: 20px;
  margin: 20px;
  height: 85vh;
  width: 40%;
  align-items: center;
}

.noCryptoSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted #999;
  border-radius: 20px;
  margin: 20px;
  height: 80vh;
  width: 90%;
  align-items: center;
}

h1 {
  color: #333333;
}

h2 {
  color: #999;
}